.Rproj.user
.Rhistory
.RData
.DS_Store
man/
outputs/
NAMESPACE
*.Rproj
data/
data_old/
papers/
model.RData
old/
1_read_clean_pelagic_benthic_old.RData
1_read_clean_pelagic_old.RData
1_read_clean_benthic_old.RData
